# React Native 관련 파일 및 폴더
node_modules/
.buckconfig
.flowconfig
.watchmanconfig


# iOS 관련 파일 및 폴더
ios/
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/

# Android 관련 파일 및 폴더
android/
*.gradle/
*.keystore

# Expo 관련 파일 및 폴더
.expo/
.expo-shared/

# OS 관련 파일
.DS_Store
Thumbs.db

# 환경설정 파일
.env
.env.local
.env.*.local

# 로그 파일 및 캐시
npm-debug.log*
yarn-debug.log*
yarn-error.log*
